/*
colors used:
#000000
#150050
#3F0071
#610094
*/

body{
    background: rgb(0,0,0);
    background: linear-gradient(98deg, rgba(0,0,0,1) 22%, rgba(21,0,80,1) 94%);

}

.glass-effect{
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
}

.center{
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  
}

#right-side{
    border-left: 1px solid rgba(255, 255, 255, 0.651);
    padding-left: 2%;
}

/*credit card template*/
.credit-card{
    background: linear-gradient(90deg, rgba(21,0,80,1) 0%, rgba(63,0,113,1) 35%, rgba(97,0,148,1) 100%);
    width: 60%;
    height: 190px;
    border-radius: 15px;
    font-family: 'Ibarra Real Nova', serif;
}


/*Input styles*/
.form-control{
    background: linear-gradient(135deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: white;
}

.form-control:focus{
    color: white;
    background: linear-gradient(135deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: 0 none;
    box-shadow: none;
}

input{
    font-weight: 100;
}


label{
    color: white;
}

.is-valid{
    outline: 0 none;
    box-shadow: none;
}

.is-valid:focus{
    outline: 0 none;
    box-shadow: none;
}

#date{
    width: 100%;
}

#cvv{
    width: 60%;
}


/*button styles*/
.checkout-btn {
    background: linear-gradient(98deg, rgba(63,0,113,1) 41%, rgba(97,0,148,1) 76%);
    border: 1px solid linear-gradient(98deg, rgba(63,0,113,1) 41%, rgba(97,0,148,1) 76%);
    border-radius: 12px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .checkout-btn:hover{
      background: linear-gradient(98deg, rgb(40, 0, 73) 41%, rgb(62, 0, 95) 76%);
      color: white;
  }
  
  .checkout-btn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
